{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body> <div class="container">

<h2>Как пользоваться генератором паролей</h2>

    <p>В верху вы видите выпадающий список "количество символов". Обозначает число символов в пароле. Вы можете выбрать зачение от 6 до 14. </p>
    <p>Eсли не выбраны никакие переключатели -будет сгенерирован пароль из латинских букв нижнего регистра. Вы можете добавить переключателями буквы верхнего регистра, цифры и спецсимволы </p>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>