body{
background: rgb(160, 150, 125);
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 600px  ;

}
.container{
width:400px;
margin:0 auto;
}

.container h1{
text-align:center ;

}
.container form, .container h2{
    background: #ede13b;  
 padding: 20px;
 box-sizing: border-box;
 border-radius: 6px;
 
}
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}
p{
    font-size: 18px;
}
input{
    font-size: 18px;
}